<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mws.mapping.choiceMapper">
<select id="getchoice" parameterType="Integer" resultType="com.mws.domain.ChoiceQuestion">
    select * from
    choicequestion
    where qid =#{qid}

</select>

<select id="getchoicenum" resultType="Integer">
	select count(*) from 
	choicequestion
</select>
<update id="updateChoiceQuestion" parameterType="com.mws.domain.ChoiceQuestion">
			update choicequestion
			qid =#{qid}
			qcontext=#{qcontext},
			answerA=#{answerA},
			answerB=#{answerB},
			answerC=#{answerC},
			answerD=#{answerD},
			rightAnswer=#{rightAnswer}

</update>
<insert id="insertChoiceQuestion" parameterType="com.mws.domain.ChoiceQuestion">
			insert into choicequestion
			(qid,qcontext,answerA,answerB,answerC,answerD,rightAnswer)
			values(#{qid},#{qcontext},#{answerA},#{answerB},#{answerC},#{answerD},#{rightAnswer})
			

</insert>

</mapper>
