<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mws.mapping.myuserMapper">

	<select id="selectUserByAccount" parameterType="String"
		resultType="com.mws.domain.MyUser">
		select * from
		puser
		where account = #{account}
	</select>
	
	<select id="selectUserByName" parameterType="String"
		resultType="com.mws.domain.MyUser">
		select * from
		puser
		where name = #{name}
	</select>
	<select id="selectUserByDepartment" parameterType="String" resultType="com.mws.domain.MyUser">
		select * from
		puser
		where department= #{department}
	
	</select>
	<insert id="registUser" parameterType="com.mws.domain.MyUser">
		insert into
		puser(account,password,name,id,loginType)
		values(#{account},#{password},#{name},#{id},#{loginType})
	</insert>
	
	<select id="selectUserByID" parameterType="Integer"
		resultType="com.mws.domain.MyUser">
		select *from
		puser
		where id = #{id}

	</select>
	<delete id="deletUserByID" parameterType="Integer">
		delete from
		puser where
		id=#{id}
	</delete>
	<select id="selectAll" resultType="com.mws.domain.MyUser">
	 	select *from
	 	puser
	</select>
	
	<update id="updateSorce"  parameterType="com.mws.domain.MyUser"  >
			update puser
			set user_sorce=#{user_sorce}
			where id=#{id}
	</update>
	<update id="uncerUpdate" parameterType="com.mws.domain.MyUser">
		update puser 
		<set>
			<if test="name !=null and name != ''">
				name =#{name},
			</if>
			<if test="department !=null and department !=''">
				department =#{department},
			</if>
			<if test="user_sorce != null and user_sorce != ''">
				user_sorce=#{user_sorce},
			</if>
		</set>
		where id=#{id};
	</update>
	
</mapper>
